footer{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #b9b3b3;
}
footer p {
    font-size: 14px;
    margin-bottom: 8px;
}