main{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
main > div{
    position: relative;
    max-width: 100%;
    overflow: hidden;
    border: solid 1px black;
}
h1{
    text-align: center;
    font-family: 'Montserrat';
}
mark{
    user-select: none;
    background-color: #a78064;
    border-radius: 4px;
}
mark:hover{
    cursor: pointer;
}
mark:hover .hover-image {
    display: block;
}
.hover-image {
    display: none;
    position: absolute;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.hover-image img {
    min-height: 200px;
    min-width: 400px;
    max-width: 600px;
    max-height: 400px;
}